/* Style for Slide 1 */
.slidestyleone {
    position: absolute;
    text-align: left;
    top: 50px;
    left: 200px;
    width: 80%;
    color: white;
    letter-spacing: -1px; background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}
/* Style for Slide 2 */
.slidestyletwo {
    position: absolute;
    text-align: right;
    top: 380px;
    right: 200px;
    width: 80%;
    color: white;
    letter-spacing: -1px; background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

/* Style for Slide 3 */
.slidestylethree {
    position: absolute;
    text-align: right;
    top: 50px;
    right: 200px;
    width: 80%;
    color: white;
    letter-spacing: -1px; background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}
