<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<html>
<!-- Page Title -->
<title>This is our Band!</title>

<body>
	<head>
		<div class="jumbotron">
		  <h1>Band Name!</h1>
		</div>
	</head>

	<!--Nav Bar -->
	<nav class="navbar navbar-inverse navbar static-top">
		<ul class="nav navbar-nav">
			<a class="navbar-brand" href="#">BAND NAME</a>
			<li class="active"><a href="\news">News<span class="sr-only">(current)</span></a></li>
			<li class="active"><a href="\theBand">About<span class="sr-only">(current)</span></a></li>
			<li class="active"><a href="\music">Music<span class="sr-only">(current)</span></a></li>
			<li class="active"><a href="\tour">Tour<span class="sr-only">(current)</span></a></li>
		</ul>
	</nav>

	
</body>
</html>