{% extends 'default.html' %}
{% block pagetitle %} Music {% endblock %}
{%block primary%}
 <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
				
					<div class="page-header">
						<h1>Check Out Our Songs!</h1>
					</div>
				
					<table id="staff" class="table table-striped table-hover tablebordertop">
						<thead>
						<tr>
							<th>Elsweyr Fondue</th>
							<th>Falmer's Lament</th>
							<th>Cicero Laughs Last</th>
							<th>The Romance of Akatosh and Alduin</th>
						</tr>
						</thead>
						<!-- Hard coded songs -->
						<tbody>
							<td>Ale</td>
							<td>Mourn</td>
							<td>Rome is Burning</td>
							<td>Dragon</td>
						</tbody>
						<tbody>
							<td>Eidar Cheese Wheel</td>
							<td>Sorrow</td>
							<td>Ha HA</td>
							<td>Love</td>
						</tbody>
						<tbody>
							<td>Moon Sugar</td>
							<td>Farmers Life</td>
							<td>Cicero</td>
							<td>Ha HA Again</td>
						</tbody>
						<tbody>
							<td>Regenerate Magicka</td>
							<td>Dust Bowl</td>
							<td>Last Joke</td>
							<td>Akatosh</td>
						</tbody>
						<tbody>
							<td>Fortify Magicka</td>
							<td>The Harvest</td>
							<td>The Last Laugh</td>
							<td>Alduin</td>
						</tbody>

					</table>

				</div>
            </div>
        </div>
    </div>




    <div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <hr>
                    <h2 class="intro-text text-center">Album
                        <strong>Information!</strong>
                    </h2>
                    <hr>
                    <hr class="visible-xs">

						<table id="staff" class="table table-striped table-hover tablebordertop">
						<thead>
						<tr>
							<th>Album Title</th>
							<th>Release Date</th>
							<th>Peak Chart Position</th>
						</tr>
						</thead>
						<tbody>
							<td>Elsweyr Fondue</td>
							<td>11.11.12</td>
							<td>5</td>
						</tbody>
						<tbody>
							<td>Falmer's Lament</td>
							<td>6.28.13</td>
							<td>12</td>
						</tbody>
						<tbody>
							<td>Cicero Laughs Last</td>
							<td>3.4.14</td>
							<td>3</td>
						</tbody>
						<tbody>
							<td>The Romance of Akatosh and Alduin</td>
							<td>1.20.15</td>
							<td>1</td>
						</tbody>
					</table>


				</div>
            </div>
        </div>
    </div>
{%endblock%}
