{% extends 'default.html' %}
{% block pagetitle %} About {% endblock %}
{%block primary%}
<div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">About
                        <strong>OUR BAND</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </div>
                <div class="col-md-6">
                    <p>Band description here.</p>
                    <p>Music that inspires our music.</p>
                    <p>How our band formed, anything here is a description of our band.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Our Band
                        <strong>Members</strong>
                    </h2>
                    <hr>
                </div>
				<div class="col-sm-4 text-center">
					<div class="thumbnail">
						<img class="img-responsive" src="static/img/thumbnail.svg" alt="">
						<h3>Thumbnail label</h3>
						<p>Band Member Description - Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					</div>
				</div>
                <div class="col-sm-4 text-center">
					<div class="thumbnail">
						<img class="img-responsive" src="static/img/thumbnail.svg" alt="">
						<h3>Thumbnail label</h3>
						<p>Band Member Description - Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					</div>
				</div>
                <div class="col-sm-4 text-center">
					<div class="thumbnail">
						<img class="img-responsive" src="static/img/thumbnail.svg" alt="">
						<h3>Thumbnail label</h3>
						<p>Band Member Description - Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					</div>
				</div>
                <div class="col-sm-4 text-center">
					<div class="thumbnail">
						<img class="img-responsive" src="static/img/thumbnail.svg" alt="">
						<h3>Thumbnail label</h3>
						<p>Band Member Description - Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					</div>
				</div>
                 <div class="col-sm-4 text-center">
					<div class="thumbnail">
						<img class="img-responsive" src="static/img/thumbnail.svg" alt="">
						<h3>Thumbnail label</h3>
						<p>Band Member Description - Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					</div>
				</div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    </div>
{%endblock%}