<!--Kazoo picture from band page from "collegekazoos.com" -->



{% extends 'default.html' %}
{% block pagetitle %} About {% endblock %}
{%block primary%}
<div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">About
                        <strong>KAZOOMERANG</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive" src="\static\img\Kazoo-Hero.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <p>A small-town band with a hip, new sound.</p>
                    <p>Inspired by the Black-Eyed Keys, Alanis Moricassette, and the many pairs of sunglasses of Gwen Stefani.</p>
                    <p>We started our group one sumer night while watching an old re-run of Bonanza. Little Joe was in some big trouble with a gang of bandits. Scared, we hid beneath our hand-knitted blankets and waited as the most suspenseful moment of television history unfolded. At the worst possible time, the power went out. Driven mad from being deprived of this critical cinematic moment, we decided to start this band.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Our Band
                        <strong>Members</strong>
                    </h2>
                    <hr>
                </div>
				
                <div class="col-sm-4 text-center">
					<div class="thumbnail">
                    <img class="img-responsive" style="margin-top: 20px; height: 300px;" src="\static\img\glass.jpg" alt="image from: http://commons.wikimedia.org/wiki/File:Broken_glass.jpg under the Creative Commons Attribution 2.0 Generic license">
                    <h3>Veronika Alves</h3>
                        <p>Rag-timey vocals and Glass Armonica</p>
						<p style="text-align:left">After finding out she wasn't the most talented vocalist, Veronika searched for a new instrument in an attempt to launch a musical career. That was when she stumbled upon the other members of KAZOOMERANG, who introduced her to the glass armonica. Of course, Veronika still tries to throw her vocals into the mix whenever possible, which created a rag-timey style.</p>                    
					</div>
                </div>
                <div class="col-sm-4 text-center">
					<div class="thumbnail">
                    <img class="img-responsive" style="margin-top: 20px; height: 300px;" src="\static\img\wood.jpg" alt="image from http://khudozhnik-stock.deviantart.com/art/Varnished-Oak-Wood-Nr-3-336661432 under a custom license specified by the creator.">
                    <h3>Kristopher Bullins</h3>
                        <p>Turntables, Electric Jandals</p>
						<p style="text-align:left">After leaving his one man band "KazooHero" to go solo Kris became a very successful artist. He became known for his showmanship and pageantry 
						within the music community of Seattle. He has the ability to involve the audiences in his performances created fans out of everyone who happened to 
						attend children's parties. When word reached David Miller he sought out this rising star as a much needed addition to his newest project "KAZOOMERANG".  </p>
					</div>                    
                </div>
                <div class="col-sm-4 text-center">
					<div class="thumbnail">
                    <img class="img-responsive" style="margin-top: 20px; height: 300px;" src="\static\img\stone.jpg" alt="image from: http://www.deviantart.com/print/9480119/ under a custom license specified by the creator.">
                    <h3>Brian Saganey</h3>
                        <p>Tenor Kazoo, Boatswain's Pipe</p>
						<p>...</p>
					</div>                    
                </div>
                 <div class="col-sm-4 text-center">
					<div class="thumbnail">
						<img class="img-responsive" style="margin-top: 20px; height: 300px;" src="\static\img\lava.jpg" alt="image from http://commons.wikimedia.org/wiki/File:Aa_large.jpg under public domain.">
						<h3>Peter Bellagh</h3>
						<p>Bass Kazoo, Backing Vocals</p>
						<p style="text-align:left">The newest member of the band, Peter Bellagh, started out by playing the saxophone at age 6. After completely
						mastering the sax at age 8, he wanted to switch to a more challenging instrument, so naturally, he picked up the 
						Kazoo. During the next 10 years of his life, Peter struggled with internet addiction, bouncing from one rehab to another.
						He lived on the streets and made enough money for food through street performances, which is where the other members
						of KAZOOMERANG found him.</p>
					</div>
                </div>
                 <div class="col-sm-4 text-center">
					<div class="thumbnail">
						<img class="img-responsive" style="margin-top: 20px; height: 300px;" src="\static\img\smoke.jpg" alt="image from https://www.flickr.com/photos/wwarby/11775166626/ under the Creative Commons Attribution 2.0 Generic license.">
						<h3>David Miller</h3>
						<p>Boomerang Xylophone, Bass Drum</p>
						<p style="text-align:left">Founding member David Miller began playing drums at age 13. While on a musical pilrimage to the Australian Outback, he invented his signature instrument, the Boomerang Xylophone. Thin steel wire suspends boomerangs of different lengths which emit various frequencies when struck.</p>
					</div>                    
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    </div>
{%endblock%}
